openapi: 3.0.3

info:
  title: StreamKaro API
  description: API documentation for StreamKaro
  version: 2.0.0

servers:
  - url: https://api.streamkaro.com/api/v1
  - url: http://localhost:3000/api/v1

tags:
  - name: Auth
  - name: User
  - name: Videos

paths:
  /auth/login:
    post:
      tags: [Auth]
      summary: User login
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful
          headers:
            Authorization:
              schema:
                type: string
            Set-Cookie:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /auth/register:
    post:
      tags: [Auth]
      summary: User registration
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: User registered
          headers:
            Authorization:
              required: true
              schema:
                type: string
            Set-Cookie:
              required: true
              schema:
                type: string

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "409":
          description: Email already exists
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /auth/refresh-token:
    post:
      tags: [Auth]
      summary: Refresh access token
      security:
        - refreshTokenCookie: []
      responses:
        "200":
          description: Access token refreshed
          headers:
            Authorization:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout user and invalidate refresh token
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Logged out successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /user/profile:
    get:
      tags: [User]
      summary: Get logged-in user profile
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Profile fetched
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /videos/init:
    post:
      tags: [Videos]
      summary: Initialize video upload
      description: >
        Creates a video record in INITIATED state.
        State transition: NONE → INITIATED.
      security:
        - bearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InitVideoUploadRequest"
      responses:
        "200":
          description: Upload initialized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InitVideoUploadResponse"
        "409":
          description: Duplicate request or invalid state
        "422":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /videos/{videoId}:
    get:
      tags: [Videos]
      summary: Get video metadata and status
      security:
        - bearerAuth: []
      parameters:
        - name: videoId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Video details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoResponse"
        "404":
          description: Video not found
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /videos/signedurl/{videoId}:
    get:
      tags: [Videos]
      summary: Get multipart upload signed URLs
      description: >
        Allowed only when video status = INITIATED.
        State transition: INITIATED → UPLOADING.
      security:
        - bearerAuth: []
      parameters:
        - name: videoId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Signed URLs generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSignedUrlResponse"
        "409":
          description: Invalid video state (must be INITIATED)
        "404":
          description: Video not found
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /videos/complete/{videoId}:
    post:
      tags: [Videos]
      summary: Complete multipart upload
      description: >
        Allowed only when video status = UPLOADING.
        State transition: UPLOADING → PROCESSING.
        Transcoding and final processing occur asynchronously.
      security:
        - bearerAuth: []
      parameters:
        - name: videoId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteVideoUploadRequest"
      responses:
        "200":
          description: Upload completed and processing started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "409":
          description: Invalid video state (must be UPLOADING)
        "404":
          description: Video not found
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /videos/mine:
    get:
      tags: [Videos]
      summary: Get all videos of the logged-in user
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - in: query
          name: status
          schema:
            type: string
            enum:
              - INITIATED
              - UPLOADING
              - PROCESSING
              - READY
              - FAILED
      responses:
        "200":
          description: List of user's videos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMyVideosResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    refreshTokenCookie:
      type: apiKey
      in: cookie
      name: refreshToken

  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    RateLimited:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    VideoStatus:
      type: string
      enum:
        - INITIATED
        - UPLOADING
        - PROCESSING
        - READY
        - FAILED

    RegisterRequest:
      type: object
      additionalProperties: false
      required: [name, email, password]
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 50
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 6
          maxLength: 20

    LoginRequest:
      type: object
      additionalProperties: false
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          maxLength: 20
          minLength: 6

    SuccessResponse:
      additionalProperties: false
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [success]
        message:
          type: string
        data:
          type: object
          nullable: true

    UserProfileResponse:
      additionalProperties: false
      type: object
      required: [status, message, data]
      properties:
        status:
          type: string
          enum: [success]

        message:
          type: string
        data:
          type: object
          required: [id , name , email]
          additionalProperties: false
          properties:
            id:
              type: string
            name:
              type: string
            email:
              type: string

    InitVideoUploadRequest:
      additionalProperties: false
      type: object
      required: [title, filename, filesize, filetype]
      properties:
        title:
          type: string
        description:
          type: string
        filename:
          type: string
        filesize:
          type: integer
          example: 1073741824
          minimum: 1
          maximum: 1073741824
        filetype:
          type: string
          enum:
            - video/mp4
            - video/webm
            - video/mkv
            - video/mov

    InitVideoUploadResponse:
      additionalProperties: false
      type: object
      required: [status, videoId]
      properties:
        status:
          type: string
          enum: [success]
        videoId:
          type: string

    GetSignedUrlResponse:
      type: object
      additionalProperties: false
      required: [status, data]
      properties:
        status:
          type: string
          enum: [success]
        data:
          type: object
          additionalProperties: false
          required: [signedUrls]
          properties:
            signedUrls:
              type: array
              items:
                type: object
                additionalProperties: false
                required: [partNumber , url]
                properties:
                  partNumber:
                    type: integer
                  url:
                    type: string
                    format: uri

    CompleteVideoUploadRequest:
      additionalProperties: false
      type: object
      required: [parts]
      properties:
        parts:
          type: array
          items:
            type: object
            required: [partNumber, eTag]
            additionalProperties: false
            properties:
              partNumber:
                type: integer
              eTag:
                type: string

    VideoResponse:
      type: object
      additionalProperties: false
      required: [id, title, status, createdAt]
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        status:
          $ref: "#/components/schemas/VideoStatus"
        playbackUrl:
          type: string
          format: uri
          nullable: true
        thumbnailUrl:
          type: string
          format: uri
          nullable: true
        createdAt:
          type: string
          format: date-time

    GetMyVideosResponse:
      type: object
      additionalProperties: false
      required: [status , message , data]
      properties:
        status:
          type: string
          enum: [success]
        message : 
          type: string
        data:
          type: object
          additionalProperties: false
          properties:
            videos:
              type: array
              items:
                $ref: "#/components/schemas/VideoResponse"
            processingVideos:
              type: array
              items:
                $ref: "#/components/schemas/VideoResponse"
            readyVideos:
              type: array
              items:
                $ref: "#/components/schemas/VideoResponse"
            totalPages:
              type: integer
            currentPage:
              type: integer

    ErrorResponse:
      type: object
      additionalProperties: false
      required: [status, message]
      properties:
        status:
          type: string
          enum: [error]
        message:
          type: string
        meta:
          type: object
          nullable: true
