openapi: 3.0.3

info:
  title: StreamKaro API
  version: 2.0.0
  description: API Documentation for StreamKaro.

servers:
  - url: https://api.streamkaro.com/api/v1
  - url: http://localhost:3000/api/v1

tags:
  - name: Auth
  - name: User
  - name: Videos

paths:

  /auth/login:
    post:
      tags: [Auth]
      operationId: loginUser
      summary: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful
          headers:
            Authorization:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /auth/register:
    post:
      tags: [Auth]
      operationId: registerUser
      summary: User registration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: User registered
          headers:
            Authorization:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /auth/refresh-token:
    post:
      tags: [Auth]
      operationId: refreshAccessToken
      summary: Refresh access token
      security:
        - refreshTokenCookie: []
      responses:
        "200":
          description: Token refreshed
          headers:
            Authorization:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /auth/logout:
    post:
      tags: [Auth]
      operationId: logoutUser
      summary: Logout user
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Logged out
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /user/profile:
    get:
      tags: [User]
      operationId: getProfile
      summary: Get logged-in user profile
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Profile fetched
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/UserProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

  /videos/init:
    post:
      tags: [Videos]
      operationId: initVideoUpload
      summary: Initialize video upload
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InitVideoUploadRequest"
      responses:
        "200":
          description: Upload initialized
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/InitVideoUploadData"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /videos/{videoId}:
    get:
      tags: [Videos]
      operationId: getVideo
      summary: Get video details
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/VideoId"
      responses:
        "200":
          description: Video details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/VideoResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /videos/mine:
    get:
      tags: [Videos]
      operationId: getMyVideos
      summary: Get paginated videos of logged-in user
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/VideoStatusFilter"
      responses:
        "200":
          description: Paginated videos
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/SuccessResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PaginatedVideos"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    refreshTokenCookie:
      type: apiKey
      in: cookie
      name: refreshToken

  parameters:
    VideoId:
      name: videoId
      in: path
      required: true
      schema:
        type: string

    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string

    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1

    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10

    VideoStatusFilter:
      name: status
      in: query
      schema:
        $ref: "#/components/schemas/VideoStatus"

  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    RateLimited:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:

    SuccessResponse:
      type: object
      additionalProperties: false
      required:
        - success
      properties:
        success:
          type: boolean
          example: true
        data:
          nullable: true

    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - success
        - message
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
        meta:
          type: object
          additionalProperties: true
          nullable: true

    VideoStatus:
      type: string
      enum:
        - INITIATED
        - UPLOADING
        - PROCESSING
        - READY
        - FAILED

    LoginRequest:
      type: object
      additionalProperties: false
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 6

    RegisterRequest:
      type: object
      additionalProperties: false
      required:
        - name
        - email
        - password
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 50
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 6
          maxLength: 100

    UserProfile:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - email
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string

    InitVideoUploadRequest:
      type: object
      additionalProperties: false
      required:
        - title
        - filename
        - filesize
        - filetype
      properties:
        title:
          type: string
        description:
          type: string
          nullable: true
        filename:
          type: string
        filesize:
          type: integer
          minimum: 1
          maximum: 1073741824
        filetype:
          type: string
          enum:
            - video/mp4
            - video/webm
            - video/mkv
            - video/mov

    InitVideoUploadData:
      type: object
      additionalProperties: false
      required:
        - videoId
      properties:
        videoId:
          type: string

    VideoResponse:
      type: object
      additionalProperties: false
      required:
        - id
        - title
        - status
        - createdAt
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        status:
          $ref: "#/components/schemas/VideoStatus"
        playbackUrl:
          type: string
          format: uri
          nullable: true
        thumbnailUrl:
          type: string
          format: uri
          nullable: true
        createdAt:
          type: string
          format: date-time

    PaginatedVideos:
      type: object
      additionalProperties: false
      required:
        - videos
        - totalPages
        - currentPage
      properties:
        videos:
          type: array
          items:
            $ref: "#/components/schemas/VideoResponse"
        totalPages:
          type: integer
        currentPage:
          type: integer
