- name: Deploy backend
  uses: appleboy/ssh-action@v1.0.3
  with:
    host: ${{ secrets.SERVER_HOST }}
    username: ubuntu
    key: ${{ secrets.SERVER_SSH_KEY }}
    port: 22
    timeout: 30s
    command_timeout: 10m
    script: |
      cd ~/Streaming-platform-backend
      git pull origin main
      npm install
      pm2 restart streamingBackend || pm2 start src/index.js --name streamingBackend
      pm2 save