name : Deploy Workflow for StreamKaro Application
on: 
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host : ${{ secrets.SERVER_HOST }}
          username : ${{ secrets.SERVER_USER }}
          key : ${{ secrets.SERVER_SSH_KEY }}
          script : |
            cd ~/Streaming-platform-backend
            git pull origin main
            npm install
            pm2 restart streamingBackend || pm2 start src/index.js --name streamingBackend
            

