name: Deploy StreamKaro Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: |
            cd ~/Streaming-platform-backend
            git pull origin main
            npm install
            pm2 restart streaming-backend || pm2 start src/index.js --name streaming-backend
            echo "Deployment completed successfully."