name : Deploy File for StreamKaro

on : 
  push :
    branches :
      - main

jobs :
  deploy :
    runs-on : ubuntu-latest
    steps :
      - name : Checkout Repository
        uses : actions/checkout@v2

      - name : Deploy to Server
        uses : easingthemes/ssh-deploy@v2.1.5
        with :
          ssh-private-key : ${{ secrets.SSH_PRIVATE_KEY }}
          remote-user : ${{ secrets.REMOTE_USER }}
          server-ip : ${{ secrets.SERVER_IP }}
          script : |
            cd /Streaming-platform-backend
            git pull origin main
            npm install
            pm2 restart streaming-backend || pm2 start src/index.js --name streaming-backend
          pre-deploy-script : echo "Starting Deployment..."
          post-deploy-script : echo "Deployment Completed!"